.container{
	margin: auto 30%;
}
.flexB {
	display: flex;
	flex-wrap: wrap;
}
body {
	display: flex;
	flex-direction: column;
	background-color: #666;
	color: white;
}

button.btngen {
	width:110px;
	border:none;
	padding:6px 0;
	border-radius:2px;
	box-shadow:3px 4px 12px #999;
	font:bold 13px Arial;
	color: white;
	margin: 2px;
	/*transition: background-color 0.1s*/
}

#rand {
	width:110px;
	border:none;
	padding:6px 0;
	border-radius:2px;
	box-shadow:3px 4px 12px #999;
	font:bold 13px Arial;
	color: white;
}


#genRand {
	flex-flow: wrap;
}

.genchoisi {
	text-transform: uppercase;
	font-size: 40px;
	padding: 10px;
}

.btngen.active {
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: line-through;
}
